.timeline-container {
    position: absolute;
    top: 50px;
    right: 0;
    width: 500px;
    height: 100%;
    padding: 0 20px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.91);
}

ul {
    padding-left: 10px;
}

ul li {
    list-style-type: none;
    position: relative;
    padding: 20px 30px;
    border-left: 1px solid black;
}

ul li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-color: #000;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.image-container {
    width: 100%;
    display: grid;
    grid-template-columns: [col] 150px [col] auto;
}

.image-container img {
    grid-column: 1;
    grid-row: row;
    height: 80px;
}

.image-container .content {
    grid-column: 2 / 3;
    grid-row: row;
}

.image-container .content h3 {
    margin: 0;
}

.image-container .content p {
    margin-top: 5 pxs;
}
